@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary:#fb4f95;
    --secondary:#30332e;
    --tertiary:#00c0ff;
    --textcolor:#ffc979;
    --white:#ffffff;

}
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}
body{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding:  70px;
    background-color: black;
    overflow-y: scroll;
}
.container{
    height: 100%;
    width: 100%;
    background-image: url('../images/me-Photoroom2.png');
    background-size: contain;
    background-position:  right;
    background-repeat: no-repeat;
}
nav{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-sizing: border-box;
    padding-inline:70px ;
    background-color: #141513;
}
.text{
    height: 100%;
    flex: 1;
    color: var(--white);
    display: flex;
    align-items: center;
}
.text:hover{
    color: var(--tertiary);
}
.list{
    display: flex;
    height: 100%;
    flex: 2;
    gap: 50px;
    justify-content: flex-end;
    box-sizing: border-box;
    align-items: center;

}
.list li:hover{
    border-bottom: 2px solid var(--tertiary);
    color: var(--tertiary);
}
.list li{
    list-style: none;
    color: var(--white);
}
.list a{
    text-decoration: none;
}
.main{
    height: 90%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.wrapper{
    height: 500px;
    width: 640px;
    margin-top: 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.headertext{
    height: 40px;
    width: 100%;
    font-size: 25px;
    color: var(--textcolor);
    font-weight: 600;
}
.hero{
  height:67px;
  width: 520px;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  padding: 5px 0;
  box-sizing: border-box;
  color: var(--white);
}
.colorch{
    color: var(--white);
}
 .hero span{
    color: var(--tertiary);
}
.para{
    font-size: 20px;
    color: var(--white);
}
.btnwrapper{
    height: 35px;
    width: 100%;
    display: flex;
    gap: 20px;
}
.hire{
    height: 100%;
    width:140px;
    border: none;
    outline: none;
    border: 1px transparent;
    box-sizing: border-box;
    background-color: var(--textcolor);
    font-size: 18px;
    color: black;
    cursor: pointer;
    border-radius: 10px;
}
.hire:hover{
    background-color: var(--white);
    color: var(--tertiary);
}
.download{
    height: 100%;
    width: 170px;
    border: none;
    outline: none;
    border: 1px transparent;
    box-sizing: border-box;
    background-color: var(--tertiary);
    font-size: 18px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
.download:hover{
    color: black;
 
}
.secondmain{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-color: black;
}
.headingtext{
height: 150px;
width: 100%;
display: flex;
flex-direction:column ;
text-align: center;
gap: 20px;
}
.heroheader{
    height: 70px;
    width: 100%;
    font-size: 65px;
    font-weight: bold;
    color: var(--tertiary);
}
.heropara{
    height: 75px;
    width: 100%;
    font-size: 20px;
    color: var(--white);
}
.imgsection{
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(5,1fr);
    /* gap: 10px; */
    place-items: center;
    background-color: black;
}
.box{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    background-color: #141513;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 15px var(--tertiary) ;
    gap: 12px;
}
.imgonly{
    height: 85%;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}
.imgtext{
    height: 15%;
    width: 100%;
    text-align: center;
    color: var(--tertiary);

}
.imgonly img{
    height: 100%;
    width: 100%;
    object-fit: contain;

}
